@layout('layouts.app')

@section('content')

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <h1>Succesfully Unsubscribed</h1>
   
    
      </div>
</section>

      





  



@endsection